@{
	ViewData["Title"] = "Home Page";
}
<div class="instructions-container desktop-1">
	<h1 class="elden-ring-community">
		ELDEN RING COMMUNITY
	</h1>
        <div class="home-card">
            <h1>Welcome, Tarnished</h1>
            <p>Venture into the Lands Between and seek the Elden Ring.</p>
            <a href="#" class="btn">Begin Your Journey</a>
        </div>
</div>
