@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center instructions-container desktop-1">
	<h1 class="elden-ring-community">
		ELDEN RING COMMUNITY
	</h1>

	<div class="home-card"> 
		<h2>ELDEN RING COMMUNITY</h2>
	</div>

</div>
