@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<body>

    <div class="container">
        <section class="card">
            <h2>What is Elden Ring:</h2>
            <p>Elden Ring is a 2022 action role-playing game developed by FromSoftware. It was directed by Hidetaka Miyazaki with worldbuilding provided by fantasy writer George R. R. Martin. It was published for PlayStation 4, PlayStation 5, Windows, Xbox One, and Xbox Series X/S on February 25 by FromSoftware in Japan and Bandai Namco Entertainment internationally. Players control a customizable player character who is on a quest to repair the Elden Ring and become the new Elden Lord.</p>
        </section>
        <section class="card">
            <h2>What do we do:</h2>
            <p>Our purpose for doing this website is to create a platform and community for Elden Ring players, where Elden Ring players can create their own accounts on our website, browse the latest news about Elden Ring, and most importantly have a build simulator that players can use this function to simulate various values and combinations in the game. We are committed to creating a vibrant and harmonious Elden Ring player community where gamers can find the information they need.</p>
        </section>
        <section class="card">
            <h2>Who we are:</h2>
            <p>We are three students from Conestoga College: Randell Bisnath, Xingju Li, and Andrew Moriarty. Also, we are loyal Elden Ring players and fans just like you.</p>
        </section>
    </div>

    <footer>
        <div class="contact-info">
            <p>Contact us:</p>
            <p>Randell Bisnath: <a href="mailto:rbisnath7460@conestogac.on.ca">rbisnath7460@conestogac.on.ca</a> | Xingju Li: <a href="mailto:xli1247@conestogac.on.ca">xli1247@conestogac.on.ca</a></p>
            <p>Andrew Moriarty: <a href="mailto:amoriarty8820@conestogac.on.ca">amoriarty8820@conestogac.on.ca</a></p>
        </div>
    </footer>
</body>