.homepage-img {
    align-self: flex-end;
    height: 370px;
    object-fit: cover;
    width: 550px;
}
.flex-row {
    align-items: flex-start;
    display: flex;
    gap: 51px;
    height: 406px;
    margin-left: 95.0px;
    margin-top: 153px;
    min-width: 1215px;
}

.home-text {
    color: white;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-weight: 400;
}

.home-card {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
}

    .home-card h1 {
        font-size: 50px;
        text-shadow: 0 0 20px rgba(255, 223, 100, 0.8);
    }
    .home-card p {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .home-card a{
        color: #1A1A1A;
        display:inline-block;
        background: #C4A000;
        padding: 10px 20px;
        text-decoration:none;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.3s;
    }
    .home-card a:hover {
        background: #EED97E;
        box-shadow: 0 0 15px rgba(255, 223, 100, 0.8);
    }