@{
	ViewData["Title"] = "Chatroom Page";
}

<div class="text-center">
	<h1 class="display-4">Chatroom Page</h1>

	<div class="container shadow-lg chatroom">
		<div class="chatroom-size">
		<div class="message-outer">
			<div class="message-inner">
				<div class="chat-message-sender chat-message-style">
					<p>Message sent from user (me)</p>
				</div>
				<div class="message-spacer"></div>
			</div>
		</div>


		<div class="message-outer">
			<div class="message-inner">
				<div class="message-spacer"></div>
				<div class="chat-message-reciever chat-message-style">
					<p>Message Sent from another user</p>
				</div>
			</div>
		</div>


		<div class="message-outer">
			<div class="message-inner">
				<div class="message-spacer"></div>
				<div class="chat-message-reciever chat-message-style">
					<p>Hello!</p>
				</div>
			</div>
		</div>

			</div>
		<div class="send-message-form-container">
			<form>
				<input type="text" class="send-message-form-input" placeholder="Enter messages here!"/>
			</form>
		</div>

	</div>

</div>
