@{
	ViewData["Title"] = "News Page";
}

<div class="text-center">
	<h1 class="display-4">News/Updates Page</h1>
</div>

<div class="d-flex flex-grow-1 flex-column">

	<div class="d-lg-flex flex-row">
		<div class="img-size">
			<img src="~/img/shadowoferdtree.png" style="width:250px; height:200" />
		</div>

		<div>
			<h2>Elden Ring DLC - Shadow of the Erdtree Officially Announced!</h2>
			<p style="margin:10px;">Sadsfg;aksnfa;slkdfn;kasjlnf</p>
		</div>
	</div>

</div>

